@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;

500;600;700;800&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 10px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

/*--------------------------------------------------------------*/

a,
a:hover,
a:visited {
  text-decoration: none;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

/*--------------------------------------------------------------*/

ol,
ul,
dl {
  margin: 0;
  margin-top: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  padding: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  list-style: none;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

/*--------------------------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  border-bottom: none;
}

/*--------------------------------------------------------------*/

img {
  border-style: none;
  vertical-align: middle;
}

figure {
  margin: 0 0 1rem;
}

svg:not(:root) {
  overflow: hidden;
}

/*--------------------------------------------------------------*/

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: none !important;
}

input:focus,
input:active,
button:focus,
button:active,
select:focus,
select:active,
optgroup:focus,
optgroup:active,
textarea:focus,
textarea:active {
  outline: none !important;
}

button,
input {
  overflow: visible;
  padding: 0;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type=radio],
input[type=checkbox] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=date],
input[type=time],
input[type=datetime-local],
input[type=month] {
  -webkit-appearance: listbox;
}

input::-ms-clear {
  display: none;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

/*--------------------------------------------------------------*/

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

/*--------------------------------------------------------------*/

html {
  scroll-behavior: smooth;
  height: 100%;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.body {
  height: 100%;
}

.body__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.body.lock {
  overflow: overlay;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5rem 0;
  background-color: #161513;
}

.main section {
  width: 100%;
}

.main section:not(:last-child) {
  margin: 0 0 6.8571428571rem;
}

.container {
  width: 100%;
  max-width: 840px;
  margin: 0 auto;
  padding: 0 15px;
}

.section:not(:last-child) {
  margin: 0 0 6.8571428571rem;
}

.header {
  position: relative;
  padding: 10px 0;
  text-align: center;
  background-color: #222;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  color: white;
}

.header__menu {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.header__burger.active ~ .header__menu {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #222;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
}

.menu__link {
  display: block;
  width: 100%;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  color: #fff;
  letter-spacing: 0.02em;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.menu__link:hover {
  color: #5badff;
}

.footer {
  padding: 5.7142857143rem 0;
  background-color: #191919;
}

.footer__title {
  margin: 0 0 35px;
  font-size: 23px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.02em;
}

.footer__text {
  margin: 0 0 1.5714285714rem;
  font-weight: 300;
  line-height: 1.5;
}

.footer__text,
.footer__email {
  font-size: 14px;
  color: #c5c5c5;
  letter-spacing: 0.02em;
}

.footer__email {
  display: block;
  margin: 0 0 2.9285714286rem;
  font-weight: 600;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.footer__social a {
  font-size: 26px;
  color: #fff;
}

.footer a {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: #5badff;
}

.burger {
  cursor: pointer;
  position: relative;
  width: 20px;
  height: 20px;
}

.burger::before,
.burger::after {
  content: "";
  display: block;
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.burger__line,
.burger::before,
.burger::after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.burger__line {
  top: calc(50% - 1px);
}

.burger:hover .burger__line,
.burger:hover::before,
.burger:hover::after {
  background-color: #5badff;
}

.burger.active::before,
.burger.active::after {
  background: #1373d1;
}

.burger.active::before {
  top: 10px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger.active::after {
  bottom: 8px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.burger.active .burger__line {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.button {
  cursor: pointer;
  padding: 16px 30px;
  font-size: 1.5714285714rem;
  font-weight: 600;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 50px;
}

.button:hover {
  color: #161513;
  background-color: #fff;
  -webkit-transition: color, background-color 0.3s ease;
  transition: color, background-color 0.3s ease;
}

.button--filled {
  color: #161513;
  background-color: #fff;
}

.button--filled:hover {
  color: #fff;
  background-color: transparent;
}

.modal {
  position: fixed;
  z-index: 9999;
  inset: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 400px;
  min-height: 250px;
  padding: 30px;
  visibility: hidden;
  opacity: 0;
  background-color: #222;
  border-radius: 10px;
  -webkit-animation: showModal 0.3s forwards;
          animation: showModal 0.3s forwards;
}

.modal__content--inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.modal__close {
  cursor: pointer;
  position: relative;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: none;
  outline: none;
}

.modal__close span::before {
  top: 50%;
  left: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal__close span::after {
  top: 50%;
  left: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal__close span {
  width: 100%;
}

.modal__close span::after,
.modal__close span::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #c5c5c5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.modal__close:hover > span::after,
.modal__close:hover > span::before {
  background-color: #5badff;
}

.modal__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: auto 0;
}

.modal__link {
  width: 64px;
  height: 64px;
  -webkit-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
}

.modal__link svg {
  width: 100%;
}

.modal__link:hover {
  scale: 1.15;
}

.modal__text {
  margin: 0 0 15px;
  font-size: 1.2857142857rem;
  color: #c5c5c5;
}

.modal.opened {
  display: block;
}

@-webkit-keyframes showModal {
  from {
    visibility: hidden;
    opacity: 0;
  }

  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes showModal {
  from {
    visibility: hidden;
    opacity: 0;
  }

  to {
    visibility: visible;
    opacity: 1;
  }
}

.project-card {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 390px;
  min-height: 265px;
  border-radius: 18px;
}

.project-card__label {
  position: absolute;
  z-index: 9;
  top: 15px;
  left: 15px;
  padding: 5px;
  font-size: 14px;
  font-weight: 500;
  color: #161513;
  background-color: rgba(255, 0, 0, 0.2);
  border-radius: 4px;
}

.project-card__thumb {
  position: relative;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.project-card__thumb .w-100 {
  width: 100%;
}

.project-card__thumb .h-auto {
  height: auto;
}

.project-card__thumb img {
  position: absolute;
  inset: 0;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.project-card__footer {
  position: absolute;
  bottom: 0;
  -webkit-transform: translateY(60%);
      -ms-transform: translateY(60%);
          transform: translateY(60%);
  width: 100%;
  padding: 12px 20px;
  background-color: #2a2a2a;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.project-card__title {
  margin: 0 0 20px;
  font-size: 24px;
  font-weight: 800;
  line-height: 1.05;
  color: #fff;
  text-transform: uppercase;
}

.project-card__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  padding: 0 5px;
}

.project-card__description,
.project-card__link {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.05;
  color: #fff;
}

.project-card__description {
  margin: 0 0 20px;
  padding: 0 5px;
  line-height: 1.2;
  color: #c5c5c5;
}

.project-card__link {
  display: block;
  font-weight: 500;
  text-transform: uppercase;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.project-card__link:hover {
  color: #5badff;
}

.project-card:hover .project-card__footer {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.hero {
  padding: 1.4285714286rem 0;
}

.hero__title {
  max-width: 650px;
  margin: 0 auto 2.7857142857rem auto;
  font-size: 3.9285714286rem;
  font-weight: 800;
  color: #fff;
  text-align: center;
}

.hero__title span {
  background: -webkit-linear-gradient(90deg, #ff8660 0%, #9a33ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero__avatar {
  position: relative;
  overflow: hidden;
  max-width: 250px;
  max-height: 250px;
  margin: 0 auto 3rem auto;
}

.hero__avatar::after {
  content: "";
  display: block;
  width: 100%;
  padding: 0 0 100%;
}

.hero__avatar img {
  position: absolute;
  z-index: 2;
  top: 48%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  border-radius: 50%;
}

.hero__avatar-background {
  position: absolute;
  inset: 0;
  background: linear-gradient(138deg, #ff8660 0%, #8000ff 98.96%);
  border-radius: 50%;
}

.hero__description {
  margin: 0 auto 3.8571428571rem auto;
  font-size: 1.2857142857rem;
  font-weight: 300;
  line-height: 1.35;
  color: #c5c5c5;
  letter-spacing: 0.05em;
}

.hero__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 18px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 6.2857142857rem;
}

.hero__technologies-title {
  margin: 0 auto 3.4285714286rem auto;
  font-size: 1.4285714286rem;
  font-weight: 600;
  color: #c5c5c5;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.12em;
}

.hero .list-technology {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero .item-technology {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 60px;
  padding: 10px;
}

.hero .item-technology img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.hero .item-technology__tooltip {
  position: absolute;
  z-index: 999;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 10px;
  font-size: 14px;
  font-weight: 500;
  visibility: hidden;
  opacity: 0;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.hero .item-technology:hover > .item-technology__tooltip {
  visibility: visible;
  opacity: 1;
}

.projects__title {
  margin: 0 0 1.9285714286rem;
  font-family: var(--font-family);
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.02;
  text-align: center;
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff8660), to(#d5491d));
  background: linear-gradient(180deg, #ff8660 0%, #d5491d 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.projects .swiper-list {
  position: relative;
  width: 100%;
  padding: 0 27px;
}

.projects .swiper-slide > div {
  margin: 0 auto;
}

.projects .swiper-button-next,
.projects .swiper-button-prev {
  color: #c5c5c5;
}

.projects .swiper-button-next::after,
.projects .swiper-button-prev::after {
  font-size: 26px;
}

.projects .swiper-button-prev {
  left: -6px;
}

.projects .swiper-button-next {
  right: -6px;
}

.experience__title {
  margin: 0 0 3.9285714286rem;
  font-size: 2.5rem;
  font-weight: 800;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, left bottom, from(#5badff), to(#1373d1));
  background: linear-gradient(180deg, #5badff 0%, #1373d1 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.experience__list {
  width: 100%;
}

.experience__item:not(:last-child) {
  margin: 0 0 3.5714285714rem;
}

.experience__item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 23px;
}

.experience__item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.experience__item-title img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 20px;
}

.experience__item-title h3 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.3;
  color: #fff;
}

.experience__item-time {
  font-size: 1rem;
  font-weight: 400;
  color: #8491a0;
}

.experience__item-tasks {
  padding-left: 35px;
  list-style: circle;
}

.experience__item-task {
  font-size: 14px;
  line-height: 1.5;
  color: #8491a0;
}

@media (min-width: 768px) {
  .header__menu {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }

  .menu {
    position: static;
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }

  .menu__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 70px;
  }

  .burger {
    display: none;
  }
}

@media (max-width: 767px) {
  .menu__list {
    padding: 0 0 15px;
  }
}